{% extends 'blogsite/base.html' %}
{% block home %} active {% endblock %}
{% load static %}
{% block js %}
    <script  src = "{% static 'js/last-words-index.js' %}"></script>
{% endblock %}
{% block body %}

<div class="banner" id="img3"></div>
<div class="post-body-wrapper">
    <div class="post-body-box">
    <h2 class="recent-post"><u>Recent Posts</u></h2>
    <div class="post-wrapper">
{% for post in posts %}
        <div class="post">
            <h2 class="post-title"> <u>{{post.title}} </u></h2>
            {% if post.Post_Image %}
        <div class="post-body">
            <a class="post-image" href="{%url 'blogsite:post-view' post.pk %}"> <img src="{{post.Post_Image.url}}" class="post-image"\> </a>

                <div class="post-text-box">
                   <p class="date flaticon-clock"> {{post.date}}</p>
                    <h4 class="post-text">

                        {{post.text|linebreaksbr|truncatewords:75}}
                    </h4>
                    <div class="button-flexbox">
                        <a href="{% url 'blogsite:post-view' post.pk %}"><button class="button-read-more" value = "{{post.pk}}">Read More</button></a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="post-body">


                <div class="post-text-box">
                   <p class="date flaticon-clock"> {{post.date}}</p>
                    <h4 class="post-text">

                        {{post.text|linebreaksbr|truncatewords:75}}
                    </h4>
                    <div class="button-flexbox">
                        <a href="{% url 'blogsite:post-view' post.pk %}"><button class="button-read-more" value = "{{post.pk}}">Read More</button></a>
                    </div>
                    </div>
                </div>

        {% endif %}
        </div>

{% endfor %}

    </div>
    <div class="view-all-wrapper">
         <a href = "{% url 'blogsite:posts' %}"><button class="button-read-more" >View all Posts</button></a>
    </div>
</div>
    </div>
{% endblock %}
