certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
dj-database-url==0.4.2
Django==1.11.23
django-production-ready==0.1.1
django-recaptcha2==1.0.3
django-storages==1.6.5
dropbox==8.6.0
flake8==3.5.0
gunicorn==19.7.1
idna==2.6
mccabe==0.6.1
oauthlib==2.0.6
pew==1.1.2
Pillow==8.2.0
pipenv==9.0.3
psutil==5.3.1
psycopg2==2.7.3.2
pycodestyle==2.3.1
pyflakes==1.6.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
whitenoise==3.3.1
