{% extends 'blogsite/base.html' %}
{% block about %} active {% endblock %}
{% block body %}
<div class="post-body-wrapper">
    <div class="post-body-box">
        <div class="post-wrapper">
        <div class="post">
            <h2 class="post-title">About Me</h2>
            <div class="post-body">
                <div class="post-text-box">
                    <h4 class="post-text">Hello my name is Lara Pena and I am the main editor and creator of the blog called, "We are the last words." I enjoy writing and reading. In my free time, I like to read books listen to all kinds of music, spend time with my friends, and in the fall and spring, run cross country and track. I am a fan of Broadway and I love the authors Jenny Han, Rainbow Rowell, and J.K. Rowling. I created this blog to enforce my 2018 goal, which is to read 20 books throughout the year. I believe that I will surpass it, especially when I will be posting updates on this blog. This blog however, is not just about books. It is also about things I like such as music, writing, reading, theatre, and much more. I am thankful for all the support, and thank you for reading my work. </h4>
                    <h4 class="post-text">Follow me on my Instagram: <a href="https://www.instagram.com/aestheticfilipino/"><p class="about-me-sm" style=""> @aestheticfilipino</p></a></h4>
                </div>
                </div>
                <h2 class="post-title">Thanks to Vanessa Cajes and Jeremy Munante for the banner images</h2>
            <div class="post-body">
                <div class="post-text-box">
                    <h4 class="post-text">Follow Vanessa on her Instagram: <a href="https://www.instagram.com/vlc.jpg/"><p class=" about-me-sm" style="display:inline"> @vlc.jpg</p></a></h4>
                    <h4 class="post-text">Also be sure to check out more of her work <a href="https://vanessacajes.myportfolio.com/"> here</a></h4>
                    <h4 class="post-text">Don't forget to follow Jeremy on his Instagram: <a href="https://www.instagram.com/terontec/"><p class=" about-me-sm" style="display:inline"> @terontec</p></a></h4>
                    <h4 class="post-text">Also be sure to check out more of his work <a href="https://vsco.co/terontec/"> here</a></h4>
                </div>
            </div>
<h2 class="post-title">Thanks to Ian Gomez for developing the website</h2>
            <div class="post-body">
                <div class="post-text-box">
                    <h4 class="post-text">Follow him on his Twitter: <a href="https://twitter.com/SadPandda"><p class=" about-me-sm" style="display:inline"> @SadPandda</p></a></h4>
                    <h4 class="post-text">Check his other projects on his Github: <a href="https://github.com/SadP4nda"><p class=" about-me-sm" style="display:inline"> @SadP4nda</p></a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}