<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <title>We are the Last Words</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock %}

    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'flaticon/font/flaticon.css' %}">
</head>
<body>

<header>
{% block header %}
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id = "nav">
    <a class="navbar-brand Aidan-Script" href = "{% url 'blogsite:index' %}"><h1 class="title">We are the Last Words</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto navitems">
            <li class="nav-item"><a class="nav-link flaticon-home {% block home %}{% endblock %}" href = "{% url 'blogsite:index' %}"> Home</a></li>
            <li class="nav-item"><a class="nav-link flaticon-notebook {% block posts %}{% endblock %}" href = "{% url 'blogsite:posts' %}"> Posts</a></li>
            <li class="nav-item"><a class="nav-link flaticon-open-book {% block books %}{% endblock %}" href = "{% url 'blogsite:books' %}"> Books </a></li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
     <form class="form-inline my-2 my-lg-0" action = "{% url 'blogsite:search-view' %}" method="get" accept-charset="utf-8">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Posts" aria-label="Search" name="query" value="{{ request.GET.query }}">
       <button class="button-search" type="submit">Search</button>
    </form>
      </li>
        </ul>
    <ul class="navbar-nav ml-auto navitems">
        <li class="nav-item"><a class="nav-link {% block about %}{% endblock %}" href = "{% url 'blogsite:about-me' %}"> About Me  and Credits</a></li>
    </ul>
     </div>
</nav>

</header>
{% block body %}
{% endblock %}
<footer class="footer"><div style="display:flex;justify-content:space-around;"><span class="flaticon-social-media-2 sm larasthetic"></span></div></footer>
<script>




</script>
</body>
</html>