{% extends 'blogsite/base.html' %}
{% block book %} active {% endblock %}
{% block body %}

<div class="book-view-box">
<div class = "book-view-wrapper">
    <div class="book-image-wrapper">
    <img src="{{book.Book_Image.url}}" class="book-view-image">
        </div>
    <h2 class="flaticon-open-book"style="text-align:center; font-family:HERO"> Title: {{book.book_title}}</h2>
    <h2 style="text-align:center; font-family:HERO">Genre: {{book.genre}}</h2>
    <h2  class="flaticon-user" style="text-align:center; font-family:HERO"> Author: {{book.author}}</h2>
    <div style="display:flex; justify-content:center; margin-bottom:2.5%;">
        {% if book.Buy_Link %}
    <a href = "{{book.Buy_Link}}"><button class="button-all-posts" >Buy this book</button></a>
        {% endif %}
        </div>
</div>

</div>
{% endblock %}